.post {
  max-width: 282px;
  border-radius: 10px;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  overflow: hidden;
}

.post__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  display: block;
}

.post__details {
  display: flex;
  margin: 0;
  padding: 25px 20px;
  background-color: #ffffff;
  line-height: 1.21;
  align-items: center;
}

.post__title {
  margin: 0;
  max-width: 219px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  line-height: 1.21;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__like {
  margin-left: auto;
  background: transparent url("../images/like_button.svg") center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
}

.post__like:hover {
  opacity: 50%;
  cursor: pointer;
}
