.profile {
  max-width: 880px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
}

.profile__image {
  background-color: #000000;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  padding-right: 17px;
}

.profile__name {
  grid-area: title;
  margin: 0;
  max-width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  grid-area: button;
  background: transparent url("../images/edit_button.svg") center no-repeat;
  height: 24px;
  width: 24px;
  margin: 0 0 0 18px;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__description {
  grid-area: description;
  margin: 7px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

.profile__add-button {
  margin: 0 0 0 auto;
  background: transparent url("../images/add_button.svg") center no-repeat;
  padding-left: 15px;
  width: 150px;
  height: 50px;
  border: 2px;
  transition: width 0.1s linear;
}

.profile__add-button:hover {
  opacity: 60%;
}
