.profile {
  max-width: 880px;
  margin: auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
}

.profile__image {
  background-color: #000000;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  padding-right: 17px;
}

.profile__name {
  grid-area: title;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.15;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  grid-area: button;
  background: transparent url("../images/edit_button.svg") center no-repeat;
  height: 24px;
  width: 24px;
  margin: 0 0 0 18px;
  align-self: center;
  border: 1px solid #ffffff;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__description {
  grid-area: description;
  margin: 7px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

.profile__add-button {
  margin: 0 0 0 auto;
  background: transparent url("../images/add_button.svg") center no-repeat;
  padding-left: 15px;
  width: 150px;
  height: 50px;
  border: 2px solid #f6f6f6;
  transition: width 0.1s linear;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 785px) {
  .profile__image {
    margin-right: 10px;
  }

  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 633px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 36px;
    padding: 0;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
    padding: 0 0 0 32px;
  }

  .profile__edit-button {
    margin: 0 0 0 10px;
    height: 18px;
    width: 18px;
  }

  .profile__description {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }
}
