.posts {
  margin: 51px auto 0;
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 633px) {
  .posts {
    margin: 36px auto 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 590px) {
  .posts {
    padding: 0;
  }
}
